/* Terminado de revisar día 26/02/21. */
.error{
  color: #E50B0B;
  display: none;
  font-size: 1.2rem;
  font-weight: 600;
}

h1{
  font-size: calc(3rem + 1vw);
  padding-top: 2.4rem;
  text-align: center;
}


input[type=submit]{
  padding: 0.8rem 3rem;
}
  input[type=submit]:hover{
    transform: scale(1.05);
  }
input[type=text]{
  padding: .7rem 1.2rem;
  width: 48%;
}
input[type=email]{
  padding: .7rem 1.2rem;
  width: 100%;
}
textarea{
  height: 10rem;
  padding: .7rem 1.2rem;
  resize: none;
  width: 100%;
}


/*Estilos de formulario*/
.form-back{
  background: url("../img/contacto.jpg") ;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}
  .form-back .container-form{
    margin: auto;
    max-width: 600px;
    width: 80%;
  }
    .form-back .container-form .g-name{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .form-back .container-form .btn-container {
      text-align: end;
    }
    .form-back .container-form .input-style{
      border: none;
      border-radius: .8rem;
      box-sizing: border-box;
      font-size: 1.3rem;
      margin: 0.5rem 0;
      outline: none;
    }


/*Estilos de datos de contacto*/
.cards-container{
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  width: 80%;
}
  .cards-container .card{
    text-align: center;
    margin: 7rem auto;
  }
    .cards-container .card .svg-img{
      width: 4rem;
      margin-bottom: .5rem;
    }
    .cards-container .card p{
      padding: .2rem 0;
    }


@media screen and (max-width: 768px){
  input[type=text] {width: 100%;}
  .form-back .container-form .g-name {display: block;}
  .cards-container {display: block;}
}