.about-us {
  margin: 2rem auto 0 auto;
  max-width: 1000px;
  padding: 0 15rem;
}
  .about-us h2 {
    font-size: calc(1.8rem + .5vw);
    margin-bottom: 1.2rem;
  }

  .about-us p {
    color: #242424;
    font-size: calc(1rem + .5vw);
    margin-bottom: .8rem;
  }

  .img-left {
    float: left;
    margin-right: 2rem;
    width: 300px;
  }